{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>EL分选测试</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'ui/skins/square/blue.css'%}">
		<link rel="stylesheet" href="{% static 'css/mystyle.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/el.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/index.css' %}"/>
	</head>
	<body>
		<!--标题头-->
		<nav class="navbar navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">
		    <img src="{% static 'images/react.png'%}" width="30" height="30" class="d-inline-block align-top" alt="">
		    EL-打标签平台
		  </a>
		</nav>
		<br />
		<!--主容器-->
		<div class="container-fluid my-container">
			<div class="row">
				<!--left-->
				<div class="col-sm-6">
				  <div class="main-pic">
				  	<div class="row pic">
			      		<img id="malfunction" class="img-fluid img-thumbnail" alt="故障细节">
			      	</div>
				  </div>
			      <!--button group-->
			      <div class="row" style="text-align: center; margin-top: 10px;">
			      	<div class="col-sm-6">
			      		<button type="button" class="btn btn-sm btn-primary" onclick="lastImage()" disabled>上一张EL</button>
			      	</div>
			      	<div class="col-sm-6">
			      		<button type="button" class="btn btn-sm btn-primary" onclick="nextImage()" disabled>下一张EL</button>
			      	</div>
			      </div>
			    </div>
			    
			    <!--right-->
			    <div class="col-sm-6">
			    	<!--轮播-->
			    	<div class="row">
			    		<div class="col-sm-1"></div>
			    		<div class="col-sm-10" style="display: flex;justify-content: center">
			    			<div class="js-silder">
								<div class="silder-scroll">
									<div class="silder-main">
                                        <div class="silder-main-img">
                                            <img id="image"  alt="EL故障特征全图!" width="200" height="250">
										</div>
									</div>
								</div>
							</div>
			    		</div>
			    		<div class="col-sm-1"></div>
			    	</div>
			    	<!--不良原因title-->
			    	<div class="row" style="margin-top: 10px;">
			    		<div class="col-sm-1"></div>
			    		<div class="col-sm-11">
			    			<h5 style="color: darkblue;">选择故障类型：</h5>
			    		</div>
			    	</div>
			    	<!--不良原因类型-->
			    	<!--row1-->
			    	<div class="row" style="margin-top: 10px;">
			    		<div class="col-sm-1"></div>
						<div class="col-sm-11 my-reason">
                            <form action="test.html" method="GET" target="ds">
			    			<table>
			    				<!--1-->
			    				<tr>
			    					<td style="width: 12%;">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="黑斑">
										<label>黑斑</label>
			    					</td>
			    					<td style="width: 15%;">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="舟尺印">
										<label>舟尺印</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="皮带印">
										<label>皮带印</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="皮带麻点">
										<label>皮带麻点</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="纵向划伤">
										<label>纵向划伤</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="CT边角发黑">
										<label>CT边角发黑</label>
			    					</td>
			    				</tr>
			    				<!--2-->
			    				<tr>
			    					<td style="width: 12%;">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="过刻">
										<label>过刻</label>
			    					</td>
			    					<td style="width: 15%;">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="手指印">
										<label>手指印</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="药液残留">
										<label>药液残留</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="背极印宽">
										<label>背极印宽</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="短小划伤">
										<label>短小划伤</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="无规律麻点">
										<label>无规律麻点</label>
			    					</td>
			    				</tr>
			    				<!--3-->
			    				<tr>
			    					<td style="width: 12%;">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="全黑">
										<label>全黑</label>
			    					</td>
			    					<td style="width: 15%;">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="EL断栅">
										<label>EL断栅</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="背膜异常">
										<label>背膜异常</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="线痕划伤">
										<label>线痕划伤</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="横向划伤">
										<label>横向划伤</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="三四角发黑">
										<label>三四角发黑</label>
			    					</td>
			    				</tr>
			    				<!--4-->
			    				<tr>
			    					<td style="width: 12%;">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="裂痕">
										<label>裂痕</label>
			    					</td>
			    					<td style="width: 15%;">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="高方阻">
										<label>高方阻</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="CT气流片">
										<label>CT气流片</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="顶齿划伤">
										<label>顶齿划伤</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="其他划伤">
										<label>其他划伤</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="扩散吸盘印">
										<label>扩散吸盘印</label>
			    					</td>
			    				</tr>
			    				<!--５-->
			    				<tr>
			    					<td style="width: 12%;">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="激光">
										<label>激光</label>
			    					</td>
			    					<td style="width: 15%;">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="花篮印">
										<label>花篮印</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="整体偏暗">
										<label>整体偏暗</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="PE吸盘印">
										<label>PE吸盘印</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="实心大黑点">
										<label>实心大黑点</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="石墨舟划伤">
										<label>石墨舟划伤</label>
			    					</td>
			    				</tr>
			    				<!--６-->
			    				<tr>
			    					<td style="width: 12%;">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="其他">
										<label>其他</label>
			    					</td>
			    					<td style="width: 15%;">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="滚轮印">
										<label>滚轮印</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="雾状发黑">
										<label>雾状发黑</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="堵片划伤">
										<label>堵片划伤</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="CT卡点发黑">
										<label>CT卡点发黑</label>
			    					</td>
			    					<td>
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="横向线痕划伤">
										<label>横向线痕划伤</label>
			    					</td>
			    				</tr>
			    				<tr>
			    					<!---->
			    					<td colspan="2">
			    						<input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="无规律曲线划伤">
										<label>无规律曲线划伤</label>
			    					</td>
                                    <td>
                                        <input type="radio"  name="malfunction" onclick="displayResult(this.value)" value="无故障">
                                        <label>无故障</label>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button  class="btn btn-sm btn-primary" onclick="lastMalfunction();lastImage()" >上一个故障</button>
                                    </td>
                                    <td>
                                        <button  class="btn btn-sm btn-primary" onclick="nextMalfunction();nextImage()" >下一个故障</button>
                                    </td>
			    				</tr>

			    			</table>
                            </form>
			    		</div>
                        <input type="hidden" id="result" >
                        <!-- 增加iframe的作用是为了防止form表单提交时刷新页面。 -->
                        <iframe name="ds" style="display: none;"> </iframe>
			    	</div>
			    	
			    </div>
			</div>
		</div>
		<!--JS-->
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<script src="{% static 'ui/icheck.min.js' %}"></script>
		<script src="{% static 'js/wySilder.min.js' %}"></script>
		<script type="text/javascript">
			$(function () {
				// init Carousel
				$(".js-silder").silder({
					auto: false,//自动播放，传入任何可以转化为true的值都会自动轮播
					speed: 20,//轮播图运动速度
					sideCtrl: true,//是否需要侧边控制按钮
					bottomCtrl: true,//是否需要底部控制按钮
					defaultView: 0,//默认显示的索引
					interval: 3000,//自动轮播的时间，以毫秒为单位，默认3000毫秒
					activeClass: "active",//小的控制按钮激活的样式，不包括作用两边，默认active
				});
				
				// init iCheck
				$('input').iCheck({
				    checkboxClass: 'icheckbox_square',
    				radioClass: 'iradio_square-blue'
				});
			})
		</script>
        <script>
            // 显示故障类型的选择结果
            function displayResult(malfunction){
                document.getElementById("result").value = malfunction
            }

            // 把一个 list 或 dict等 JSON对象 传到网页的 javascript，用 JS 进行处理，比如用 js 将数据可视化显示到网页上。
            var a= {{ tzqt_el_images|safe }}
            var imgNum = 0;
            var b = {{ dytzqt_el_images|safe}}
            var malfunctionNum = 0;
            // 预加载图像 初始化为预加载第一张el图像和第一张故障图像
            window.onload = function(){
                var path = a[0];
                // 注意完整的路径 src = "/media/" + path
                document.getElementById("image").src = "/media/" + path;
                var malfunctionpath = b[0];
                document.getElementById("malfunction").src = "/media/" + malfunctionpath;
            }
            // 下一张el图像
            function nextImage(){
                imgNum ++;
                var imgpath = a[imgNum];
                document.getElementById("image").src = "/media/" + imgpath;
            }
            // 上一张el图像
            function lastImage(){
                imgNum --;
                var imgpath = a[imgNum];
                document.getElementById("image").src = "/media/" + imgpath;
            }
            // 下一张故障图像
            function nextMalfunction(){
                malfunctionNum ++;
                var malfunctionpath = b[malfunctionNum];
                 document.getElementById("malfunction").src = "/media/" + malfunctionpath;
            }
            // 上一张故障图像
            function lastMalfunction(){
                malfunctionNum --;
                var malfunctionpath = b[malfunctionNum];
                 document.getElementById("malfunction").src = "/media/" + malfunctionpath;
            }
            //
            function testSubmit(){
                var src = document.getElementById("malfunction").src;
                var targetArray = [];
                targetArray.push("/dddd/ddd");
                $.post(url,{srcPath:src,aa:targetArray},function(data){

                });
            }
    </script>
	</body>
</html>
